<div class="container-fluid">
    <button class="btn btn-warning mb-3 float-right text-uppercase" (click)="onAddUser()"><i class="fa fa-plus"></i> Add new user</button>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered row-border hover" style="width: 100%">
      <thead class="text-center thead-dark">
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Email Confirmed</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users"class="text-center">
          <td>{{user.userName}}</td>
          <td>{{user.email}}</td>
          <td>{{true == user.emailConfirmed? 'yes' : 'no'}}</td>
          <td>
            <div class="btn-group mt-2" role="group">
              <button type="button" class="btn btn-danger" (click)="onDelete(user)" ><i class="fa fa-trash"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <ng-template #userTemplate>
      <div class="modal-header">
        <h4 class="modal-title">ADD NEW USER</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <form [formGroup]="insertForm" (ngSubmit)="onSubmit()">
          <ul class="list-group"> 
            <li class="list-group-item">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="userName"><i class="fa fa-pen"></i></span>
                </div>
                <input type="text" id="name" formControlName="userName" class="form-control" placeholder="User Name" aria-label="userName" aria-describedby="userName">
              </div>
              <div class="errorMessage" *ngIf="userName.touched && userName.errors">
                <span *ngIf="userName.hasError('required')">User name is required</span>
                <span *ngIf="userName.hasError('maxlength')">Only 50 characters allowed for user name</span>
              </div>
            </li>
            <li class="list-group-item">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="email"><i class="fa fa-pen"></i></span>
                </div>
                <textarea formControlName="email" class="form-control" placeholder="email" aria-label="email" aria-describedby="email"></textarea>
              </div>
              <div class="errorMessage" *ngIf="email.touched && email.errors">
                <span *ngIf="email.hasError('required')">Email is required.</span>
                <span *ngIf="email.hasError('maxlength')">Only 50 characters allowed for email</span>
              </div>
            </li>
            <li class="list-group-item">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <input type="checkbox" formControlName="emailConfirmed" checked aria-label="Checkbox for following text input">
                  </div>
                </div>
                <input type="text" class="form-control" placeholder="Email Confirmed" disabled>
              </div>
            </li>    
            <li class="list-group-item">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="password"><i class="fa fa-pen"></i></span>
                  </div>
                    <input formControlName="password" type="password" class="form-control" placeholder="Password">
                  </div>
                <div class="errorMessage" *ngIf="password.touched && password.errors">
                  <span *ngIf="password.hasError('required')">Password is required.</span>
                  <span *ngIf="password.hasError('maxlength')">Only 50 characters allowed for password</span>
                </div>
              </li> 
            <li class="list-group-item">
              <button [disabled]="insertForm.invalid"  class="btn btn-primary btn-block">ADD</button>
            </li>
          </ul>  
        </form>  
      </div>
    </ng-template>
  