<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom mb-3">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BookShop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
      <ul class="navbar-nav flex-grow-2">
        <li class="nav-item">
          <a class="nav-link text-dark" [routerLink]='["/"]'>Home</a>
        </li>
        <li class="nav-item" *ngIf="(userRoleStatus$ | async) as userRoleStatus">
          <a class="nav-link text-dark" [routerLink]='["/user"]' *ngIf="userRoleStatus == 'Admin'">Users</a>
        </li>        
        <li class="nav-item" *ngIf="(loginStatus$ | async) as loginStatus">
          <a class="nav-link text-dark" [routerLink]='["/products"]' *ngIf="loginStatus">Products</a>
        </li>
        <li class="nav-item" *ngIf="!(loginStatus$ | async) as loginStatus">
          <a class="nav-link text-dark" *ngIf="loginStatus" [routerLink]='["/login"]'>Login</a>
        </li>
        <li class="nav-item" *ngIf="!(loginStatus$ | async) as loginStatus">
          <a class="nav-link text-dark" *ngIf="loginStatus" [routerLink]='["/register"]'>Register</a>
        </li>
        <li class="nav-item" *ngIf="(loginStatus$ | async) as loginStatus">
          <a class="nav-link text-danger" *ngIf="(userName$ | async) as UserName">{{UserName | uppercase}}</a>
        </li>
        <li class="nav-item" *ngIf="(loginStatus$ | async) as loginStatus">
          <a class="btn btn-primary text-white" (click)="onLogout()" *ngIf="loginStatus">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</header>