<div class="card-body">
    <h1>
        Total value is: {{allTotal}}
    </h1>
          
    <table class="table table-bordered table-responsive table-hover">
        <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Add/Remove</th>
                <th>Total For Item</th>
            </tr>
        </thead>
        <tr *ngFor="let product of productAddedTocart; let q = index">
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price}}</td>
            <td>{{product.quantity}}</td>
            <td>
            <div class="form-inline">
                <button type="button" (click)="onAddQuantity(product)" class="btn btn-success">+</button> 
                <button type="button" *ngIf ="product.quantity > 0" (click)="onRemoveQuantity(product)" class="btn btn-danger"> - </button>
            </div>
            </td>
            <td>{{product.price * product.quantity}}</td>
        </tr>
    </table>
</div>

  
<form [formGroup]="deliveryForm">
    <div class="form-group">
        <div class="col-md-12">
            <h5>Name:</h5>  <input type="text"  formControlName="UserName" class="form-control"   >
        </div>
        <div class="col-md-12">
            <h5>Delivery Address:</h5> 
            <textarea id="textarea" name="textarea" formControlName="DeliveryAddress" class="form-control"  rows="3" cols="15"></textarea>
        </div>
        <div class="col-md-12">
            <h5>Phone:</h5>  <input type="text" formControlName="Phone" class="form-control"   >
        </div>
        <div class="col-md-12">
            <h5>Email:</h5>  <input type="text" formControlName="Email" class="form-control"   >
        </div>
        <div class="col-md-12">
            <h5>Special Message/ Instructions:</h5>  <input type="text" formControlName="Message" class="form-control"   >
        </div>
        <div class="col-md-12">
            <h5>Total Amount To Pay: {{allTotal}}</h5> 
        </div>
    </div>
    <button type="button" style="margin-left: 39%;" [disabled]="!deliveryForm.valid" class="btn btn-outline-success" (click)="onCard()"><b>Proceed to pay</b></button>
</form>


<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title">Credit card info</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">
      <form [formGroup]="cardForm" (ngSubmit)="onSubmit()">
        <ul class="list-group"> 
          <li class="list-group-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="cardTitle"><i class="fas fa-envelope"></i></span>
              </div>
              <input type="text" id="email" formControlName="email"  class="form-control" placeholder="Email" >
            </div>           
          </li>
          <li class="list-group-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="cardNumber"><i class="fas fa-credit-card"></i></span>
              </div>
              <input id="cc-number" type="tel" class="form-control" autocomplete="cc-number" ccNumber placeholder="0000-0000-0000-0000" >
            </div>            
          </li>          
          <li class="list-group-item">
            <div class="input-group"> 
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-calendar-week"></i></span>
              </div>
              <input id="cc-exp-date" type="tel" class="form-control" autocomplete="cc-exp" ccExp placeholder="MM/YY">
            </div>            
          </li>        
          <li class="list-group-item">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-credit-card"></i></span>
                </div>
                <input id="cc-cvc" type="tel" class="form-control" autocomplete="off" ccCVC placeholder="CVC">
              </div>             
            </li>       
          <li class="list-group-item">
            <button class="btn btn-primary btn-block">ADD</button>
          </li>
        </ul>  
      </form>  
    </div>
  </ng-template>
